@font-face{
  font-family: telenorItalicimport;
  src:url(telenorItalic.TTF); 

}
@font-face{
  font-family: TelenorRegularimport;
  src:url(TelenorRegular.TTF);

}
body{
 height: 1920px;
 width: 1080px;
 background-image: url("shake.png");
 background-repeat: no-repeat;
}
.btn{
  background-color: transparent!important;
}
.container-fluid{
 padding: 0px;
}

.Home-button{
 position: absolute;
 top: 80px;
 right: 64px;

}
.back-button{
 position: absolute;
 top: 80px;
 left: 64px;
}
